<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>615607262583-5e38qr4pk9hqhmr6ogs4afj2tgd3p78h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.615607262583-5e38qr4pk9hqhmr6ogs4afj2tgd3p78h</string>
	<key>API_KEY</key>
	<string>AIzaSyDbAjgRMyPdI3VDHY8WeUk9V6AT35kQRMg</string>
	<key>GCM_SENDER_ID</key>
	<string>615607262583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notebook</string>
	<key>PROJECT_ID</key>
	<string>notebook-f48f9</string>
	<key>STORAGE_BUCKET</key>
	<string>notebook-f48f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615607262583:ios:1a3603a42477f701c8d572</string>
</dict>
</plist>